{% extends 'layouts/default.twig' %}
{% set head_title = 'Frontie - Front-end HTML5 Boilerplate' %}
{% set head_canonical = 'index.html' %}

{% block page %}

  <p>Hello world! This is HTML5 Boilerplate.</p>

  {% include 'components/component.twig' %}

{% endblock %}
