{% extends 'layouts/layout.twig' %}
{% set head_title = 'Frontend Development Starter Kit' %}
{% set head_canonical = 'index.html' %}

{% block page %}

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>

  {% include 'partials/example.twig' %}

{% endblock %}
